@model MeyawoPortfolio.Models.TblSocialMedia
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Sosyal Medya Hesabı Ekle</h2>
<form method="post">
    <label>Sosyal Medya Hesabı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
    <br />
    <label>Sosya Medya Adresi</label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "table table-bordered" })
    <br />
    <label>İcon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "table table-bordered" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>
</form>


