<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/dgn.jpg);"></div>
            <h3>Fatih DOĞAN</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li>
            <a href="~/Dashboard/Index"><i class="fa-solid fa-house-user"></i> Dashboard</a>
        </li>
        <li>
            <a href="~/Files/aa.pdf" download="Fatih Doğan Cv.pdf"><i class="fa-solid fa-file-arrow-down"></i> CV'mi İndir'</a>
        </li>

        <li>
            <a href="~/Category/Index"><i class="fa-solid fa-cubes"></i> Kategoriler</a>
        </li>
        <li>
            <a href="~/Project/Index"><i class="fa-solid fa-dragon"></i> Projelerim</a>
        </li>
        <li>
            <a href="~/About/Index"><i class="fa-solid fa-user-tag"></i> Hakkımda</a>
        </li>
        <li>
            <a href="/Statistic/Index"><i class="fa-solid fa-chart-line"></i> İstatistikler</a>
        </li>
        <li>
            <a href="~/Service/Index"><i class="fa-brands fa-servicestack"></i> Hizmetlerim</a>
        </li>
        <li>
            <a href="~/SocialMedia/Index"><i class="fa-solid fa-hashtag"></i> Sosyal Medya</a>
        </li>
        <li>
            <a href="~/Testimonial/Index"><i class="fa-solid fa-asterisk"></i> Referanslarım</a>
        </li>
        <li>
            <a href="~/Contack/Index"><i class="fa-solid fa-comment"></i> Mesajlarım</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-screwdriver-wrench"></i> Ayarlar</a>
        </li>

        <li>
            <a href="~/Default/Index"><i class="fa-brands fa-golang"></i> Siteye Git</a>
        </li>
    </ul>

</nav>
