<div class="container">
    <footer class="footer">
        <p class="mb-0">
            Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a> Distribution <a href="https://themewagon.com">ThemeWagon</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.facebook.com/?locale=tr_TR" class="link"><i class="ti-facebook"></i></a>
            <a href="https://x.com/f_dogan70" class="https://x.com/f_dogan70"><i class="ti-twitter-alt"></i></a>
            <a href="https://myaccount.google.com/?utm_source=OGB&utm_medium=app" class="https://myaccount.google.com/?utm_source=OGB&utm_medium=app"><i class="ti-google"></i></a>
            <a href="https://tr.pinterest.com" class="link"><i class="ti-pinterest-alt"></i></a>
            <a href="https://www.instagram.com/" class="link"><i class="ti-instagram"></i></a>
            <a href="https://news.ti.com/index.php?s=20324&rsspage=34141" class="link"><i class="ti-rss"></i></a>
        </div>
    </footer>
</div>

