<section class="section" id="testmonial">
    <div class="container text-center">
        <p class="section-subtitle">Bizimle Çalışanlar Ne Düşünüyor?</p>
        <h6 class="section-title mb-6">Müşteri Referanslarımız</h6>

        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="~/Templates/meyawo-1.0.0/meyawo-1.0.0/assets/imgs/avatar2.jpg" class="testimonial-card-img"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">
                            Dgn Yazılım Ltd. Şti ve Fatih Bey'e teşekkür ederiz.
                            Hızlı yanıtlar, ürettikleri alternatif çözümler iş yükümüzü bir hayli azaltmıştır. Verdikleri hizmetten gayet memnun kaldık. İşimizi geliştirmek adına iş ortaklığımızı sürekli hale getireceğiz. Başarılarının devamını dilerim
                        </p>
                        <h6 class="testimonial-card-title">Hayati SEZER</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="~/Templates/meyawo-1.0.0/meyawo-1.0.0/assets/imgs/avatar3.jpg" class="testimonial-card-img"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">
                            Başarılı bir işbirliği ve profesyonel hizmet! Web site tasarımı konusundaki beklentilerimizi aşan bir deneyim yaşadık. Firmanın uzman ekibi, özgün ve estetik bir tasarım sunarak markamızın varlığını güçlendirdi. İşlerini titizlikle takip eden, sürekli iletişimde kalan ve sorunları hızlı bir şekilde çözen bir ekiple çalışmak memnuniyet vericiydi. Her adımda bizimle işbirliği yaparak, projemizin her aşamasında bizleri bilgilendirdiler. Kesinlikle tavsiye ederim! Teşekkür ederim Dgn Yazılım ekibi, teşekkürler Fatih DOĞAN, harika bir iş çıkardınız!
                        </p>
                        <h6 class="testimonial-card-title">Seda YILMAZ</h6>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</section>

