
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<div>
    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

   
        @Html.Action("AboutPartial")
        <!-- service section -->      
       

    </body>
</div>

</html>



