
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Kategory Ekle</h2>



<form method="post">
    <label>Kategory Adı</label>
    <input type="text" class="table table-bordered" name="CategoryName" />
    <br />

    <button class="btn btn-info">Kategoriyi Kaydet</button>
</form>

