
@{
    Layout = null;
}

<h3 >Merhaba Meyawo</h3>
<h4>Merhaba Dünya</h4>
<h5>Selamlar</h5>
<p>Nasılsın</p>
<hr />

<div style=" background-color:aqua">Burası bir divdir</div>
<br />

<div style="background-color :blue ">Burası ikinci divdir</div>
<br />
<a href="http://www.google.com">Google</a>
<a href=" http://Linkedin.com">Linkedin</a>
<a href="/Category/Index2">Index2</a>