@model MeyawoPortfolio.Models.TblCategory
@{ 
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>UpdateCategory</h2>
<form method="post">
    <label>Kategory Id</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryID" name="CategoryId" />
    <br />
    <label>Kategory Adı</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />   
    <button class="btn btn-info">Kategoriyi Güncelle</button>
</form>

