@model List<MeyawoPortfolio.Models.TblService>
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<h2><i class="fa-brands fa-servicestack"></i> Hizmetlerim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Başlık</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceID  </td>
                    <td>@item.Title </td>
                    <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-success ">Güncelle</a></td>
                </tr>
            }
</table>
<td><a href="/Service/CreateService" class="btn btn-primary">Ekle</a></td>
