@model List<MeyawoPortfolio.Models.TblService>
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<h2>Hizmetlerim</h2>
<table class="table table-bordered">
    <tr>
        <td>Hizmetlerim ID</td>
        <td>Hizmet Adı</td>
        <td>Açıklama</td>
        <td>İmaj</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceID  </td>
                    <td>@item.Title </td>
                    <td>@item.Description  </td>
                    <td>@item.ImageUrl  </td>
                    <td><a href="#" class="btn btn-danger">Sil</a></td>
                    <td><a href="#" class="btn btn-success ">Güncelle</a></td>
                </tr>
            }
</table>
<td><a href="#" class="btn btn-primary">Ekle</a></td>
