
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2><i class="fa-solid fa-chart-line"></i> İstatistikler</h2>
<br />
<div class=" alert alert-danger">Kategori Sayısı:@ViewBag.CategoryCount</div>
<div class="alert alert-warning">Proje Sayısı:@ViewBag.ProjectCount</div>
<div class="alert alert-info">MesajSayısı:@ViewBag.MessageCount</div>
<div class="alert alert-dark">Flutter Proje Sayısı:@ViewBag.FlutterProjectCount</div>
<div class="alert alert-primary">Okunmamış Mesaj Sayısı:@ViewBag.IsNotReadMessageCount</div>
<div class="alert alert-success">Eklenen Son Proje Adı:@ViewBag.LastProjectName</div>
<div class="alert alert-warning">Sosyal Medya Hesabı Sayısı:@ViewBag.SocialMediaCount</div>
<div class="alert alert-info">Referans Sayısı:@ViewBag.TestimonialCount</div>
<div class="alert alert-dark">Hizmet Sayısı:@ViewBag.ServiceCount</div>
<div class="alert alert-primary">Son Eklenen Referans:@ViewBag.LastTestimonialName</div>

